form {
    border: 1px solid greenyellow;
    border-radius: 3px;
    padding: 40px;
    background-color: paleturquoise;
    text-align: center;
}

input {
    padding: 5px 20px;
    width: 80%;
    line-height: 16px;
    margin: 10px 0;
}